
    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">New Book</h3>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span>
                        Filter
                    </button>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr class="filters">
                    <th><input type="number" class="form-control" placeholder="ID" disabled></th>
                    <th><input type="number" class="form-control" placeholder="Phone" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Name" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Date" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Time" disabled></th>
                    <th><input type="text" class="form-control" placeholder="location" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Trạng Thái" disabled></th>
                </tr>
                </thead>
                 
                <tbody>
                {% for book in listBook %}
               
                    <tr>
                        <td> <a href="/admin/book/{{ book.id_book}}">{{ book.id_book }}</a></td>
                        <td> <a href="/admin/book/{{ book.id_book}}">{{ book.phone}}</a></td>
                        <td> <a href="/admin/book/{{ book.id_book}}">{{ book.nguoidat }}</a></td>
                        <td> <a href="/admin/book/{{ book.id_book}}">{{ book.date }}</a></td>
                        <td> <a href="/admin/book/{{ book.id_book}}">{{ book.time }}</a></td>
                        <td> <a href="/admin/book/{{ book.id_book}}">{{ book.name_location }}</a></td>
                        {% if book.status == false %}
                            <td> <a href="/admin/book/{{ book.id_book}}">Chưa Liên Lạc</a></td>
                        {% elif book.status == true %}
                            <td> <a href="/admin/book/{{ book.id_book}}">Đã Liên Lạc</a></td>
                        {% endif %}
                    </tr>
                
               {% endfor %}
                </tbody>
                
            </table>
             <nav aria-label="Page navigation" class="text-center"><ul class="pagination">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
            
                    </ul></nav>
        </div>
    </div>



      