@import url('https://fonts.googleapis.com/css?family=Pacifico');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
.navbar-brand {
    padding: 0;
}
.navbar-brand > img {
    height: 100%;

}

body {
    background-color: #f8f8f8;
    font-family: sans-serif;
    position: relative;
}

.navbar-default .navbar-brand {
    padding: 3px 15px;
    margin-top: 8px;
}

.dropdown-menu-left {
    top: 0;
    left: 100%;
}

.navbar {
    margin-bottom: 1px;
    background-color: #f8f8f8;
    border-color: #f8f8f8;
    box-shadow: 0 2px 3px #f8f8f8;
}

.nav {
    padding-left: 5px;
}
.navbar-default .navbar-nav > li > a {
    cursor: pointer;
    font-weight: 700;
    color: #00695c;
}

.navbar-right span i {
    margin-right: 8px;
}

.navbar-right .account {
    text-align: center;
}
.navbar-right{
    margin: 4px;
}

.form-group {
    position: relative;
}

.form-control {
    margin-bottom: 5px;
    border-radius: 1  0px;
}

@media (max-width: 768px) {
    .navbar-fixed-top {
        position: static;
    }

    .navbar-nav {
        float: none;
    }

    .affix {
        position: static;
    }

    .icon-search {
        position: absolute;
        right: 10px;
        border-radius: 50px;
    }

}

.mr0 {
    margin: 0;
}
.pd0 {
    padding: 0;
}
input::-webkit-calendar-picker-indicator {
    display: none;
}

/*dropdown*/

@media (min-width: 768px) {
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 20%;
    }
    body {
        padding-top: 62px;
    }

    .affix {
        top: 60px;
    }
    .navbar-form .form-control {
        margin: 5px 10px;
    }

    .navbar-header {
        margin: 0 5% 0 4%;
    }

    .navber-form {
        border-color: white;
    }

    .navbar {
        border-radius: 0 0 4px 4px;
    }

    .icon-search {
        position: absolute;
        top: 5px;
        right: 10px;
        border-radius: 50px;
    }

    .navbar-mrtop {
        margin-top: 15px;
    }
    .navbar-form .selec-with {
        width: 174px;
    }
    .navbar-form .seac-with {
        width: 300px;
    }
}

.navbar-nav {
    float: none;
}

.container-fluid {
    padding: 0;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0 !important;
    -webkit-appearance: none;
}
.form-control:focus {
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.input-group .form-control:focus {
    z-index: 0;
}
.glyphicon-triangle-right {
    font-size: 10px;
    top: 0;
}

.slide-left {

    opacity: 0;
    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
    -moz-transform: translate3d(-100px, 0px, 0px);
    -webkit-transform: translate3d(-100px, 0px, 0px);
    -o-transform: translate(-100px, 0px);
    -ms-transform: translate(-100px, 0px);
    transform: translate3d(-100px, 0px, 0px);
}

.in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

footer {
    margin-top: 50px;
    background: rgba(163, 163, 163, 0.18);

}

.col-md-12 {
    margin: 10px 0;
}

.sao {
    color: rgba(255, 255, 0, 0.85);
}

.bttop {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.dropdown:hover {
    background: white;
}

.texttran {
    word-wrap: break-word;
}

.carousel-inner>.item>img {
    width: 100%;
}
.nav-side-menu {
  overflow: auto;
  font-size: 15px;
  font-weight: 200;
  background-color: #f8f8f8;

  width: 100%;
  color: black;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
    
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #f8f8f8;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #e8e9ea;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #b5b5f9;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before { 
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 4%;
  border-left: 3px solid #c9cfd6;
  border-bottom: 1px solid #a9c1de;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #23282e;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}
.pd-left{
    padding-top: 2%;
    padding-left: 0;
}
.carousel {
    margin-top: 4%;
}
footer.nb-footer {
background: #271010;
border-top: 4px solid #b78c33; }
footer.nb-footer .about {
margin: 0 auto;
margin-top: 40px;
max-width: 1170px;
text-align: center; }
footer.nb-footer .about p {
font-size: 13px;
color: #999;
margin-top: 30px; }
footer.nb-footer .about .social-media {
margin-top: 15px; }
footer.nb-footer .about .social-media ul li a {
display: inline-block;
width: 45px;
height: 45px;
line-height: 45px;
border-radius: 50%;
font-size: 16px;
color: #b78c33;
border: 1px solid rgba(255, 255, 255, 0.3); }
footer.nb-footer .about .social-media ul li a:hover {
background: #b78c33;
color: #fff;
border-color: #b78c33; }
footer.nb-footer .footer-info-single {
margin-top: 30px; }
footer.nb-footer .footer-info-single .title {
color: #aaa;
text-transform: uppercase;
font-size: 16px;
border-left: 4px solid #b78c33;
padding-left: 5px; }
footer.nb-footer .footer-info-single ul li a {
display: block;
color: #aaa;
padding: 2px 0; }
footer.nb-footer .footer-info-single ul li a:hover {
color: #b78c33; }
footer.nb-footer .footer-info-single p {
font-size: 13px;
line-height: 20px;
color: #aaa; }
footer.nb-footer .copyright {
margin-top: 15px;
background: #2d1919;
padding: 7px 0;
color: #999; }
footer.nb-footer .copyright p {
margin: 0;
padding: 0; }
.center-block{
    width: 10%;
}
.bs-example-modal-lg .nav-tabs > li {
    text-align: center;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #FF795D;
    font-weight: 600;
    border: 1px solid #FF795D;
    border-bottom: 1px solid #f7f1db;
}

.nav-tabs {
    border-bottom: 1px solid #c4af62;
}
.nav-tabs > li > a {
    color: black;
    font-family: mariaSemiBold;
}
.nav-tabs {
    text-transform: uppercase;
}
.btn-login-sign-up {
    text-align: right;
    margin-top: 9%;
}
#lost-pass {
    margin-bottom: 20px;
}

#lost-pass a {
    color: black;
    font-weight: 400;
}

#lost-pass a:hover {
    color: #8b0304;
}

#lost-pass span,
#lost-pass input {
    float: left;
}

#lost-pass span {
    color: black;
    font-weight: 600;
}
.socials-login {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    overflow: hidden;
}

.socials-login span {
    height: 35px;
    line-height: 35px;
}
.socials-login span.fa {
    width: 36px;
    border-right: 1px solid;
    font-size: 18px;
    float: left;
}
#login-fb {
    border-radius: 2px;
    float: left;
    width: 45%;
    border: 1px solid #284580 !important;
    height: 37px;
}
#login-gg {
    border-radius: 2px;
    float: right;
    width: 45%;
    height: 37px;
    border: 1px solid #6c0304 !important;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.color-white {
    color: #fff !important;
}
.color-blue {
    color: #3b5998 !important;
}
.color-red {
    color: #8b0304 !important;
}
.background-blue {
    background-color: #284580;
}

.background-red {
    background-color: #6c0304;
}
.btn-primary:hover,
.btn-primary {
    color: #fff;
    display: block;
    width: 100%;
    padding: 12px 0;
    background-color: #00695c;
}
.nut{
  display: none;
}