{% extends 'layouts/layoutAdm.html' %}
{% block cssExtends %}

{% endblock %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            New Book
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        {% include 'components/backend//admin/box_admin.html' %}
        <!-- Main row -->
        {% include 'components/backend/admin/main_admin.html' %}
        <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
</div>

{% endblock %}

{% block jsExtends %}


{% endblock %}