{% extends 'layouts/layoutAdm.html' %}
{% block cssExtends %}
<style>
    .table > tbody > tr > td:first-child {
        width: 50%;
    }
</style>

{% endblock %}

{% block content %}

<div class="content-wrapper" style="background: white">

    <section class="content">
        <div class="col-lg-6">
            <div class="box box-info" style="margin-top:15px;">
                <div class="box-header with-border">
                    <h3 class="box-title">New categories</h3>
                    <form method="post" action="?_method=DELETE">
                    {% if category or sub_category %}

                            <button type="submit" class="btn btn-danger pull-right">Delete</button>

                    {% endif %}
                    </form>
                    
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" method="post">

                    <div class="box-body">
                    {% if errors %}
                        <div class="alert alert-warning">
                            {{errors.msg}}
                        </div>
                    {% endif %}

                        <div class="form-group">
                        <div class="col-sm-4">
                            <select class="form-control select2 " style="width: 100%;" name="cas">
                                    {% if category %}
                                        {% for cate in category %}
                                                <option selected="selected" value={{cate.id_categories}}>{{ cate.name_categories }}</option>
                                        {% endfor %}
                                    {% elif sub_category %}
                                        {% for sub in sub_category %}
                                        <option selected="selected" value={{sub.id_categories}}>{{ sub.name_categories }}</option>
                                        {% endfor %}
                                    {% else %}
                                        <option selected="selected" value="0">Chọn category</option>
                                    {% endif %}


                                {% for cas in cat %}
                                <option value={{cas.id_categories}}>{{ cas.name_categories }}</option>
                                {% endfor %}
                            </select>
                            </div>
                            <div class="col-sm-8">
                            {% if category %}

                            {% for cate in category %}

                                    <input type="text" name="Name" class="form-control" id="inputEmail3" placeholder="Name" value="{{cate.name_categories}}">

                            {% endfor %}
                                {% elif sub_category %}
                             {% for sub in sub_category %}
                                    <input type="text" name="Name" class="form-control" id="inputEmail3" placeholder="Name" value="{{sub.name_castegory}}">
                              {% endfor %}
                            {% else %}

                                    <input type="text" name="Name" class="form-control" id="inputEmail3" placeholder="Name">

                            {% endif %}
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        {% if category or sub_category %}
                            <button type="submit" class="btn btn-info pull-right">Update</button>
                        {% else %}
                            <button type="submit" class="btn btn-info pull-right">Save</button>
                        {% endif %}

                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <h3>chú ý</h3>
            <p> - Nếu không chọn category thì sẽ thêm vào category </p>
            <p> - Nếu chọn category thì sẽ thêm vào sub_category </p>
            <p> - Nếu xóa category mà bên trong nó có sub_category thì sẽ xóa tất cả các sub_category bên trong</p>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="panel panel-primary filterable">
                    <div class="panel-heading">
                        <h3 class="panel-title">categories</h3>
                        <div class="pull-right">
                            <button class="btn btn-default btn-xs btn-filter"><span
                                    class="glyphicon glyphicon-filter"></span> Filter
                            </button>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                        <tr class="filters">
                            <th><input type="text" class="form-control" placeholder="category" disabled></th>
                            <th><input type="text" class="form-control" placeholder="Sub_category" disabled></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cas in cat %}
                        <tr>
                            <td><a href="/admin/posts_categories/{{cas.id_categories}}">{{cas.name_categories}}</a></td>
                            <td>
                            {% for sub_cat in cas.array %}
                                <a href="/admin/posts_categories/sub_cat/{{sub_cat.id_sub_category}}">{{ sub_cat.name_castegory }}</a><br>
                            {% endfor %}
                            </td> 
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>

{% endblock %}

{% block jsExtends %}

{% endblock %}