{% extends 'layouts/layoutAdm.html' %}
{% block cssExtends %}
<style>
    .table > tbody > tr > td:first-child {
        width: 50%;
    }
</style>

{% endblock %}

{% block content %}

<div class="content-wrapper" style="background: white">

    <section class="content">
        <div class="col-lg-6">
            <div class="box box-info" style="margin-top:15px;">
                <div class="box-header with-border">
                    <h3 class="box-title">New categories</h3>
                    {% if cate %}
                        <button type="submit" class="btn btn-danger pull-right">Delete</button>
                    {% endif %}
                    
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" method="post">

                    <div class="box-body">
                    {% if errors %}
                        <div class="alert alert-warning">
                            {{errors.msg}}
                        </div>
                    {% endif %}
                        <div class="form-group">
                        <div class="col-sm-4">
                            <select class="form-control select2 " style="width: 100%;" name="cas">
                                <option selected="selected" value="0">Chọn category</option>
                                {% for cas in cat %}
                                <option value={{cas.id_categories}}>{{ cas.name_categories }}</option>
                                {% endfor %}
                            </select>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="Name" class="form-control" id="inputEmail3" placeholder="Name">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info pull-right">Save</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="panel panel-primary filterable">
                    <div class="panel-heading">
                        <h3 class="panel-title">categories</h3>
                        <div class="pull-right">
                            <button class="btn btn-default btn-xs btn-filter"><span
                                    class="glyphicon glyphicon-filter"></span> Filter
                            </button>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                        <tr class="filters">
                            <th><input type="text" class="form-control" placeholder="category" disabled></th>
                            <th><input type="text" class="form-control" placeholder="Sub_category" disabled></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cas in cat %}
                        <tr>
                            <td>{{cas.name_categories}}</td> 
                            <td>
                            {% for sub_cat in cas.array %}
                            {{ sub_cat.name_castegory }}<br>
                            {% endfor %}
                            </td> 
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>

{% endblock %}

{% block jsExtends %}

{% endblock %}