{% extends 'layouts/layout.html' %}
{% block cssExtends %}
<link rel="stylesheet" href="/plugin/fancybox/jquery.fancybox.min.css">
<link href="/stylesheets/stylechitiet.css" rel="stylesheet">
<link rel="stylesheet" href="/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="/plugins/timepicker/bootstrap-timepicker.min.css">
{% endblock %}
{% block content %}
<div class="col-md-10">
    {% for data in datas %}
    {% include 'components/frontend/chitiet/thongtin.html' %}

    {% include 'components/frontend/chitiet/map_and_thongtin.html' %}

    {% include 'components/frontend/chitiet/album.html' %}
    <div class="row comment">
        <h2>BÌNH LUẬN CỦA CỘNG ĐỒNG <span>3</span></h2>
        <hr/>

        <div class="cmt">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">

                <div class="col-xs-3 col-sm-2 col-md-1">
                    <div class="user">
                        <div class="avatar">
                            <img src="/images/mod1.jpg" alt="mod" title="sonlazio">
                        </div>
                    </div>
                </div>
                <div class="col-xs-9 col-sm-10 col-md-11">
                    <div class="cmtUser">
                        <h4>sonlazio</h4>
                        <div class="info">
                            <p>Posted on April 10, 2017</p>
                        </div>
                        <p>Thực sự mình rất hay đi uống trà sữa nhưng đây là lần đầu tiên mình thấy
                            thoải
                            mái thật sự khi uống tại TocoToco. Đồ uống đậm vị, trà thơm đặc biệt trân
                            châu TocoToco rất ngon và dai không bị nát mềm như mấy quán ts mình uống
                            trước
                            đây. NV thì tư vấn nhiệt tình. Sẽ gim lại địa chỉ của các bạn để ủng hộ dài
                            dài
                            luôn.</p>
                        <span><i class="fa fa-heart"></i> Thích</span>
                        <span><i class="fa fa-exclamation-circle"></i> Báo lỗi</span>
                        <span><i class="fa fa-reply"></i> Thảo luận</span>
                    </div>
                </div>

                <div class="col-xs-3 col-sm-2 col-md-1">
                    <div class="user">
                        <div class="avatar">
                            <img src="/images/mod1.jpg" alt="mod" title="Non@me">
                        </div>
                    </div>
                </div>
                <div class="col-xs-9 col-sm-10 col-md-11">
                    <div class="cmtUser">
                        <input type="text" name="" id="" placeholder="Ý kiến của bạn">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr/>
    <span>Page 1 of 1 </span>
    <hr/>

    {% include 'components/frontend/chitiet/cothequantam.html' %}
    <script>
        function initMap() {
            let uluru = {lat: {{data.lat}},lng: {{data.long}}};
            let map = new google.maps.Map(document.getElementById('map'), {
                zoom: 17,
                center: uluru,
                gestureHandling: 'cooperative'

            });
            let marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }
    </script>

    {% endfor %}

</div>


{% endblock %}

{% block jsExtends %}
<script src="/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="/plugins/timepicker/bootstrap-timepicker.min.js"></script>
<script src="/plugin/fancybox/jquery.fancybox.min.js"></script>
<script src="/javascripts/jschitiet.js"></script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsB1OF-sOPmmMd9bwLpJfJfrdumJ_A6dI&callback=initMap"></script>

{% endblock %}