{% extends 'layouts/layoutAdm.html' %}
{% block cssExtends %}

{% endblock %}

{% block content %}
<div class="content-wrapper">

    <section class="content">
        <div class="col-md-12">
            <form id="edit-form" method="post" enctype="multipart/form-data">
                {% if errors %}
                    {% for error in errors %}
                <div class="alert alert-warning">
                    <strong>Warning! </strong> {{ error.msg }}
                </div>
                    {% endfor %}
                {% endif %}
                <div class="box box-solid box-primary">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Full Name<span
                                            class="required"> *</span></label>
                                    <input type="text" class="form-control" name="display_name" required="required"/>
                                </div>
                                <div class="form-group">
                                    <label>Email<span class="required"> *</span></label>
                                    <input type="email" class="form-control" name="user_email" required="required"/>
                                </div>
                                <div class="form-group">
                                    <label>Phone<span class="required"> *</span></label>
                                    <input type="number" class="form-control" name="phone" required="required"/>
                                </div>
                                <div class="form-group">
                                    <label>Avatar
                                        <span class="help-block" style="display: inline;">(128x128px) </span>
                                    </label>
                                     <input type="file" id="image" name="avt">

                                </div>


                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>User Name<span class="required"></span></label>
                                    <input type="text" class="form-control" name="user_name"
                                           value="" required="required"/>
                                </div>

                                <div class="form-group">
                                    <label>Password
                                        <span class="required"> *</span>
                                    </label>
                                    <input type="password" class="form-control" id="user_pass" name="user_pass"  required="required"/>
                                </div>

                                <div class="form-group">
                                    <label>Confirm password
                                        <span class="required"> *</span>
                                    </label>
                                    <input type="password" class="form-control" id="confirm_pass" name="confirm_pass" required="required"/>
                                </div>
                            </div>
                            <div class="col-md-12" style="text-align: center;">
                                    <button type="submit" class="btn btn-success" id="saveForm" style="width:80%;">
                                        <i class="fa fa-check"></i> Save
                                    </button>
                            </div>

                        </div>

                    </div>
                </div>

            </form>
        </div>
    </section>
    <!-- /.content -->
</div>
{% endblock %}

{% block jsExtends %}

{% endblock %}