{% extends 'layouts/layout.html' %}
{% block cssExtends %}
<link href="/stylesheets/danhsach.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="col-md-10">
    <div class="row">
        <div class="diachi">
            <ol class="breadcrumb">
                {% if name_ci %}
                <li><a href="/city/{{name_ci.id_city}}">{{ name_ci.name }} <i class="fa fa-angle-right"></i></a></li>
                {% endif %}
                {% if name_dis %}
                <li><a href="/city/{{name_dis.id_city}}">{{ name_dis.name }} <i class="fa fa-angle-right"></i></a></li>
                <li><a href="/city/{{name_dis.id_city}}/districts/{{name_dis.id_districts}}">{{ name_dis.name_districts }}<i class="fa fa-angle-right"></i></a></li>
                {% endif %}

            </ol>
        </div>
        {% if name_cats %}
        <h2><a href="/cats/{{ name_cats.id_categories }}">{{ name_cats.name_categories }}</a></h2>
        <hr class="gachchan">
        {% elif name_sub %}
        <h2><a href="/cats/{{ name_cats.id_categories }}">{{ name_sub.name_castegory }}</a></h2>
        <hr class="gachchan">
        {% endif %}
        {% for loca in location %}
        <div class="col-md-4" style="margin-bottom: 2%;">
            <div class="hovereffect thumbnail">
                <img src="/image_location/{{ loca.name_img }}" class="img-responsive">
                <div class="overlay">
                    <h3>{{ loca.name_location }}</h3>
                    <a class="info" href="/chitiet/{{ loca.id_category }}/{{ loca.id_location }}">Chi Tiết</a>
                </div>

            </div>
            <p><a href="/chitiet/{{ loca.id_category }}/{{ loca.id_location }}"><strong>{{ loca.name_location }}</strong> </a></p>
            {% if name_ci %}
            <p>Địa chỉ :<em>{{ loca.address }} ,{{ loca.name_districts }} ,{{ name_ci.name }}</em></p>
            {% endif %}
            {% if name_dis %}
            <p>Địa chỉ :<em>{{ loca.address }} ,{{ name_dis.name_districts }} ,{{ name_dis.name }}</em></p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block jsExtends %}
{% endblock %}