{% extends 'layouts/layoutAdm.html' %}
{% block cssExtends %}
<style>
    .table>tbody>tr>td:first-child {
        width: 19%;
    }
    .table>tbody>tr>.haicham{
        width: 1%;
        padding: 7px 0;
    }
    .table{
        margin-left: 4%;
    }
    .table>tbody>tr>td{
        font-size: 18px;
    }
    h3{
        width: 50%;
        background: #3c8dbc;
        color: white;
        text-align: center;
        padding: 2%;
    }
</style>
{% endblock %}
{% block content %}
<div class="content-wrapper">

    <section class="content">
     {% for book in detailBook %}

        <div class="col-lg-6" style="width: 39%; margin-left: 5%;">

            <div class="row">
                <div>
                    <h3>Thông Tin Người Đặt :</h3>
                </div>
                <table class="table">
                    <tr>
                        <td class="name">Tên </td>
                        <td class="haicham">:</td>
                        <td class="data">{{book.nguoidat}}</td>
                    </tr>
                    <tr>
                        <td class="name">Sô Điện Thoại </td>
                        <td class="haicham">:</td>
                        <td class="data">{{ book.phone }}</td>
                    </tr>
                    <tr>
                        <td class="name">Email </td>
                        <td class="haicham">:</td>
                        <td class="data">{{ book.email }}</td>
                    </tr>
                    <tr>
                        <td class="name">Số Người </td>
                        <td class="haicham">:</td>
                        <td class="data">{{ book.soluong }}</td>
                    </tr>
                    <tr>
                        <td class="name">Ngày </td>
                        <td class="haicham">:</td>
                        <td class="data">{{ book.date }}</td>
                    </tr>
                    <tr>
                        <td class="name">Giờ </td>
                        <td class="haicham">:</td>
                        <td class="data">{{ book.time }}</td>
                    </tr>
                    <tr>
                        <td class="name">Ghi Chú  </td>
                        <td class="haicham">:</td>
                        <td class="data">{{ book.note }}</td>
                    </tr>
                    <tr>
                        <td class="name">Trạng Thái   </td>
                        <td class="haicham">:</td>
                        {% if book.status == false %}
                            <td style="width: 12%">Chưa Liên Lạc</td>
                        {% elif book.status == true %}
                            <td style="width: 12%">Đã Liên Lạc</td>
                        {% endif %}
                        <td><i class="fa fa-pencil" aria-hidden="true" data-toggle="modal" data-target="#myModal" style="color: #ff006a; margin-left: 10px;"></i></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-6">
            <h3>Địa Điểm Đặt : </h3>
            <table class="table">
                <tr>
                    <td class="name">Tên</td>
                    <td class="haicham">:</td>
                    <td class="data">{{ book.name_location }}</td>
                </tr>
                <tr>
                    <td class="name">Địa Chỉ </td>
                    <td class="haicham">:</td>
                    <td class="data">{{ book.address }}</td>
                </tr>
                <tr>
                    <td class="name">Giờ Mở Cửa </td>
                    <td class="haicham">:</td>
                    <td class="data">{{ book.time_open }}</td>
                </tr>
            </table>

        </div>
        <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>

        {% if book.status == false %}
            <h4>Trạng Thái Hiện tại : Chưa Liên Lạc</h4>
            {% elif book.status == true %}
            <h4>Trạng Thái Hiện tại : Đã Liên Lạc</h4>
            {% else %}
            <h4>Chưa Có Trạng Thái</h4>
        {% endif %}
      </div>
    <form method="post" onsubmit="return validateForm()">
        <div class="modal-body">
             <input id="id_locaton" type="text" name="id_book" value="{{ book.id_book }}" style="display:none;">
            <li>
                <input type="radio" id="f-option" name="lienlac" value="true">
                <label for="f-option">Đã Liên Lạc</label>           
                <div class="check"></div>
            </li>        
            <li>
                <input type="radio" id="s-option" name="lienlac" value="false">
                <label for="s-option">Chưa Liên Lạc</label>          
                <div class="check"><div class="inside"></div></div>
            </li>
            <div class="modal-footer">
                <input type="submit" class="btn btn-success" value="Cập Nhật"/>
            </div>
        </div>
    </form>
      
    </div>

  </div>
</div>
         {% endfor %} 
    </section>
    <!-- /.content -->
</div>
{% endblock %}
{% block jsExtends %}
    <script>
        function validateForm() {
      var radios = document.getElementsByName("lienlac");
      var formValid = false;
      var i = 0;
      while (!formValid && i < radios.length) {
          if (radios[i].checked) formValid = true;
          i++;        
      }
      if (!formValid) alert("Bạn Phải Chọn Một Trường");
      return formValid;
    };

    </script>

{% endblock %}
