{% extends 'layouts/layoutAdm.html' %}
{% block cssExtends %}
<link rel="stylesheet" href="/bower_components/select2/dist/css/select2.min.css">
<link rel="stylesheet" href="/plugins/iCheck/all.css">
<link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="/plugins/timepicker/bootstrap-timepicker.min.css">
<style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
        height: 100%;
    }


    #infowindow-content .title {
        font-weight: bold;
    }

    .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
    }

    #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 20px;
        line-height: 2;
        border-radius: 5px;
        font-weight: 300;
        margin-left: 17%;
        padding: 0 13px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
    }

    #pac-input:focus {
        border-color: #4d90fe;
    }
    form input{
        border-radius: 5px;
        height: 30px;

    }
    .ipt{
        margin: 2% 0;
    }
    .ipt input{
        width: 100%;
    }
    .ipt .col-md-2{
        width: 12%;
        padding-right: 0;
    }
    .latlong label{
        width:20%;
    }
    #rate ,#long , #lat , #timeo , #timec{
        width:50%;
    }
    select{
        width: 100%;
    }
    .img{
        margin-left: 0;
    }
    #city button{
        background: white;
        border: 1px solid;
        width: 80%;
    }
    #city ul{
        margin-left: 20px;
    }
    #city li{
        padding: 5px 15px;
    }
    .dropdown{
        padding-left: 15px;
    }
</style>

{% endblock %}

{% block content %}
<div class="content-wrapper">

    <section class="content">

        <div class="row">
            <div class="col-md-6">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Thêm Mới</h3>
                        <form method="post">
                            <button class="btn btn-danger pull-right">delete</button>
                        </form>
                    </div>

                    {% if errors %}
                    {% for err in errors %}
                        <div class="alert alert-warning">
                            {{err.msg}}
                        </div>
                    {% endfor %}
                    {% endif %}
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form method="post" enctype="multipart/form-data" >
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="dropdown" id="city">
                                        {% if districts %}
                                            {% for dis in districts %}
                                            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">{{dis.name}}</button>
                                            {% endfor %}
                                            {% else %}
                                            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">-- Thành Phố --</button>
                                        {% endif %}

                                            <ul class="dropdown-menu">
                                                {% for ci in city %}
                                                <a href="/admin/posts/{{ci.id_city}}"><li>{{ ci.name }}</li></a>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-group" id="districts" name="districts">
                                            <option>-- Districts --</option>
                                            {% for dis in districts %}
                                                {% for di in dis.array %}
                                                    <option value={{di.id_districts}}>{{di.name_districts}}</option>
                                                {% endfor %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-group" id="category" name="category">
                                            <option> -- Category -- </option>
                                            {% for subcat in sub_category %}
                                            <option value={{ subcat.id_sub_category }}>{{ subcat.name_castegory }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <div>
                                    <div class="row ipt">
                                        <div class="col-md-2">
                                            <label>Tên :</label>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="text" name="nameLocation"><br>
                                        </div>
                                    </div>
                                    <div class="row ipt">
                                        <div class="col-md-2">
                                            <label>Địa Điểm :</label>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="text" name="addressLocation">
                                        </div>
                                    </div>
                                    <div class="row ipt">
                                        <div class="col-md-2">
                                            <label>Rate :</label>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="number" name="rate" id="rate">
                                        </div>
                                    </div>
                                    <div class="row ipt">
                                        <div class="col-md-2">
                                            <label>Latitude :</label>
                                        </div>
                                            <div class="col-md-10">
                                                <input type="text" id="lat" name="lat" disabled>
                                            </div>
                                    </div>
                                    <div class="row ipt">
                                    <div class="col-md-2">
                                        <label>Longtitude :</label>
                                    </div>
                                        <div class="col-md-10">
                                            <input type="text" id="long" name="long" disabled>
                                        </div>
                                    </div>
                                    <div class="row ipt ">
                                        <div class="col-md-2">
                                            <label >Giờ mở cửa</label>
                                        </div>
                                        <div class="col-md-10 bootstrap-timepicker">
                                            <input type="text" class="form-control timepicker"
                                                   style="border-radius: 5px;" name="open" id="timeo">
                                        </div>
                                    </div>
                                    <div class="row ipt ">
                                        <div class="col-md-2">
                                            <label >Giờ Đóng cửa</label>
                                        </div>
                                        <div class="col-md-10 bootstrap-timepicker">
                                            <input type="text" class="form-control timepicker"
                                                   style="border-radius: 5px;" name="close" id="timec">
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="form-group ">
                                <div class="row img">
                                    <div class="col-md-6">
                                        <label for="image">Hình ảnh hiển thị của sản phẩm</label>
                                        <input type="file" id="image" name="photo">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="album">Album sản phẩm</label>
                                        <input type="file" id="album" name="album" multiple>
                                    </div>

                                </div>
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-success" style="width: 100%">Save</button>
                            </div>
                            <!-- /.col -->

                        </form>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.box-body -->


            <div class="col-md-6">
                <div class="form-group" style="height: 500px;">
                    <form method="post">
                        <input id="pac-input" class="controls" type="text" placeholder="Tìm Địa Điểm" name="address">
                    </form>

                    <div id="map"></div>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
{% endblock %}

{% block jsExtends %}
<script src="/bower_components/select2/dist/js/select2.full.min.js"></script>
<script src="/plugins/iCheck/icheck.min.js"></script>
<script src="/plugin/axios.js"></script>
<script>
    $(function () {
        $('.select2').select2();
        $('.timepicker').timepicker({
            showInputs: false
        })
    })


</script>
<script>
    // This example adds a search box to a map, using the Google Place Autocomplete
    // feature. People can enter geographical searches. The search box will return a
    // pick list containing a mix of places and predicted search terms.

    // This example requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

    function initAutocomplete() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 21.033333, lng: 105.849998},
            zoom: 6,
            mapTypeId: 'roadmap'
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function () {
            searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function () {
            var places = searchBox.getPlaces();

            if (places.length == 0) {
                return;
            }

            // Clear out the old markers.
            markers.forEach(function (marker) {
                marker.setMap(null);
            });
            markers = [];

            // For each place, get the icon, name and location.
            var bounds = new google.maps.LatLngBounds();
            places.forEach(function (place) {
                if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                }

                // Create a marker for each place.
                markers.push(new google.maps.Marker({
                    map: map,
//                    icon: '/images/icon-map-marker-200x200.png',
                    title: place.name,
                    position: place.geometry.location
                }));

                if (place.geometry.viewport) {
                    // Only geocodes have viewport.
                    bounds.union(place.geometry.viewport);
                } else {
                    bounds.extend(place.geometry.location);
                }
            });
            map.fitBounds(bounds);
        });
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsB1OF-sOPmmMd9bwLpJfJfrdumJ_A6dI&libraries=places&callback=initAutocomplete"
        async defer></script>


<script src="/javascripts/getlonglat.js"></script>
<script src="/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="/plugins/timepicker/bootstrap-timepicker.min.js"></script>
{% endblock %}