{% extends 'layouts/layoutAdm.html' %}
{% block cssExtends %}
<style>
    .content-wrapper {
        background: white;
    }
</style>
{% endblock %}
{% block content %}
<div class="content-wrapper">

    <section class="content">
        <div class="col-lg-12">
            <div class="row">
                <div class="panel panel-primary filterable">
                    <div class="panel-heading">
                        <h3 class="panel-title">Posts List</h3>
                        <div class="pull-right">
                            <button class="btn btn-default btn-xs btn-filter"><span
                                    class="glyphicon glyphicon-filter"></span> Filter
                            </button>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                        <tr class="filters">
                            <th><input type="number" class="form-control" placeholder="ID" disabled></th>
                            <th><input type="text" class="form-control" placeholder="Name" disabled></th>
                            <th><input type="text" class="form-control" placeholder="Address" disabled></th>
                            <th><input type="text" class="form-control" placeholder="Time Open" disabled></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for loca in data %}
                            <tr>
                                <td><a href="">{{ loca.id }}</a></td>
                                <td><a href="">{{ loca.name_location }}</a></td>
                                <td><a href="">{{ loca.address }}</a></td>
                                <td><a href="">{{ loca.time_open }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation" class="text-center"><ul class="pagination">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>

                    </ul></nav>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
{% endblock %}
