{% extends 'layouts/layoutAdm.html' %}
{% block cssExtends %}
<link rel="stylesheet" href="/bower_components/select2/dist/css/select2.min.css">
<link rel="stylesheet" href="/plugins/iCheck/all.css">
<link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="/plugins/timepicker/bootstrap-timepicker.min.css">
<link rel="stylesheet" href="/stylesheets/posts.css">
{% endblock %}

{% block content %}
<div class="content-wrapper">

    <section class="content">

        <div class="row">
            <div class="col-md-6">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Thêm Mới</h3>
                        {% if detail %}
                        <form method="post" action="?_method=DELETE">
                            <button class="btn btn-danger pull-right">delete</button>
                        </form>
                        {% endif %}
                    </div>

                    {% if errors %}
                    {% for err in errors %}
                        <div class="alert alert-warning">
                            {{err.msg}}
                        </div>
                    {% endfor %}
                    {% endif %}
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form method="post" enctype="multipart/form-data">
                            {% if detail %}
                            <input type="text" name="id_location" value="{{detail.id_location}}" style="display: none">
                            {% endif %}
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="dropdown" id="city">
                                        {% if districts %}
                                            {% for dis in districts %}
                                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">{{dis.name}}</button>
                                            {% endfor %}
                                        {% elif detail %}
                                            {% for deta in detail.array %}
                                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">{{deta.name_city}}</button>
                                             {% endfor %}
                                        {% else %}
                                            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">-- Thành Phố --</button>
                                        {% endif %}

                                            <ul class="dropdown-menu">
                                                {% for ci in city %}
                                                    <a href="/admin/posts/{{ci.id_city}}"><li>{{ ci.name }}</li></a>
                                                {% endfor %}
                                                {% if detail %}
                                                    {% for city in data.city %}
                                                        <a href="/admin/posts/{{ci.id_city}}"><li>{{ city.name }}</li></a>
                                                    {% endfor %}
                                                {% endif %}

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-group" id="districts" name="districts">
                                            {% if detail %}
                                                {% for deta in detail.array %}
                                                    <option value={{deta.id_dis}}>{{deta.name_dis}}</option>
                                                {% endfor %}
                                                {% for da in data.district %}
                                                    <option>-- Districts --</option>
                                                    {% for dis in da.array %}
                                                        <option value={{dis.id_districts}}>{{dis.name_districts}}</option>
                                                    {% endfor %}
                                                {% endfor %}
                                                {% else %}
                                            <option>-- Districts --</option>
                                                {% for dis in districts %}
                                                    {% for di in dis.array %}
                                                    <option value={{di.id_districts}}>{{di.name_districts}}</option>
                                                    {% endfor %}
                                                {% endfor %}
                                            {% endif %}


                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-group" id="category" name="category">
                                            {% if detail %}
                                                {% for deta in detail.array %}
                                                    <option value={{deta.id_cat}}>{{deta.name_cat}}</option>
                                                {% endfor %}
                                                    <option> -- Category -- </option>
                                                {% for cat in data.cate %}
                                                    <option value={{cat.id_sub_category}}>{{ cat.name_castegory }}</option>
                                                {% endfor %}
                                            {% else %}
                                            <option> -- Category -- </option>
                                                {% for subcat in sub_category %}
                                                    <option value={{ subcat.id_sub_category }}>{{ subcat.name_castegory }}</option>
                                                {% endfor %}
                                            {% endif %}

                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <div>
                                    <div class="row ipt">
                                        <div class="col-md-2">
                                            <label>Tên :</label>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="text" name="nameLocation" value="{{detail.name_location}}"><br>
                                        </div>
                                    </div>
                                    <div class="row ipt">
                                        <div class="col-md-2">
                                            <label>Địa Điểm :</label>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="text" name="addressLocation" id="address" value="{{detail.address}}">
                                        </div>
                                    </div>
                                    <div class="row ipt">
                                        <div class="col-md-2">
                                            <label>Rate :</label>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="number" name="rate" id="rate" value="{{detail.rate}}">
                                        </div>
                                    </div>
                                    <div class="row ipt">
                                        <div class="col-md-2">
                                            <label>Latitude :</label>
                                        </div>
                                            <div class="col-md-10">
                                                <input type="text" id="lat" name="latitude" readonly value="{{detail.lat}}">
                                            </div>
                                    </div>
                                    <div class="row ipt">
                                    <div class="col-md-2">
                                        <label>Longtitude :</label>
                                    </div>
                                        <div class="col-md-10">
                                            <input type="text" id="long" name="longitude" readonly value="{{detail.long}}">
                                        </div>
                                    </div>
                                    <div class="row ipt ">
                                        <div class="col-md-2">
                                            <label >Giờ mở cửa</label>
                                        </div>
                                        <div class="col-md-10 bootstrap-timepicker">
                                            <input type="text" class="form-control timepicker"
                                                   style="border-radius: 5px;" name="open" id="timeo" value="{{ timeOpen }}">
                                        </div>
                                    </div>
                                    <div class="row ipt ">
                                        <div class="col-md-2">
                                            <label >Giờ Đóng cửa</label>
                                        </div>
                                        <div class="col-md-10 bootstrap-timepicker">
                                            <input type="text" class="form-control timepicker"
                                                   style="border-radius: 5px;" name="close" id="timec" value="{{ timeClose }}">
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="form-group ">
                                <div class="row img">
                                    <div class="col-md-6">
                                        <label for="image">Hình ảnh hiển thị của địa điểm</label>
                                        <input type="file" id="image" name="photo">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="album">Album ảnh địa điểm</label>
                                        <input type="file" id="album" name="album" multiple>
                                    </div>

                                </div>
                            </div>
                            {% if detail %}
                            <div class="box-footer">
                                <button type="submit" class="btn btn-success" style="width: 100%">Update</button>
                            </div>
                            {% else %}
                            <div class="box-footer">
                                <button type="submit" class="btn btn-success" style="width: 100%">Save</button>
                            </div>
                            {% endif %}
                            <!-- /.col -->

                        </form>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.box-body -->


            <div class="col-md-6">
                <div class="form-group" style="height: 500px;">
                    <form method="post">
                        <input id="pac-input" class="controls" type="text" placeholder="Tìm Địa Điểm" name="address">
                    </form>

                    <div id="map"></div>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
{% endblock %}

{% block jsExtends %}
<script src="/bower_components/select2/dist/js/select2.full.min.js"></script>
<script src="/plugins/iCheck/icheck.min.js"></script>
<script src="/plugin/axios.js"></script>
<script>
    // This example adds a search box to a map, using the Google Place Autocomplete
    // feature. People can enter geographical searches. The search box will return a
    // pick list containing a mix of places and predicted search terms.

    // This example requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

    function initAutocomplete() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 21.033333, lng: 105.849998},
            zoom: 6,
            mapTypeId: 'roadmap'
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function () {
            searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function () {
            var places = searchBox.getPlaces();

            if (places.length == 0) {
                return;
            }

            // Clear out the old markers.
            markers.forEach(function (marker) {
                marker.setMap(null);
            });
            markers = [];

            // For each place, get the icon, name and location.
            var bounds = new google.maps.LatLngBounds();
            places.forEach(function (place) {
                if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                }

                // Create a marker for each place.
                markers.push(new google.maps.Marker({
                    map: map,
//                    icon: '/images/icon-map-marker-200x200.png',
                    title: place.name,
                    position: place.geometry.location
                }));

                if (place.geometry.viewport) {
                    // Only geocodes have viewport.
                    bounds.union(place.geometry.viewport);
                } else {
                    bounds.extend(place.geometry.location);
                }
            });
            map.fitBounds(bounds);
        });
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsB1OF-sOPmmMd9bwLpJfJfrdumJ_A6dI&libraries=places&callback=initAutocomplete"
        async defer></script>


<script src="/javascripts/getlonglat.js"></script>
<script src="/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="/plugins/timepicker/bootstrap-timepicker.min.js"></script>
{% endblock %}