<div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">

        <!--{% for cats in categories %}-->
        <!--<li data-toggle="collapse" data-target="#eat" class="collapsed">-->
            <!--<i class="fa fa-cutlery fa-lg"></i>{{ cats.name_categories }}<span class="arrow"></span>-->
        <!--</li>-->

        <!--<ul class="sub-menu collapse" id="eat">-->
            <!--<li><a href="danh-sach-quan-coffee.html">Quán coffee</a></li>-->
            <!--<li><a href="#">Nhà hàng</a></li>-->
            <!--<li><a href="#">Quán ăn</a></li>-->
        <!--</ul>-->

        <!--{% endfor %}-->
        <li data-toggle="collapse" data-target="#beauty" class="collapsed">
            <i class="fa  fa-university fa-lg"></i> Làm đẹp <span class="arrow"></span>
        </li>
        <ul class="sub-menu collapse" id="beauty">
            <li><a href="#">Tiệm cắt tóc/Gội đầu</a></li>
            <li><a href="#">Thẩm mĩ viện</a></li>
            <li><a href="#">Tiệm nail</a></li>
            <li><a href="#">Spa/massage</a></li>
        </ul>


        <li data-toggle="collapse" data-target="#game" class="collapsed">
            <i class="fa  fa-gamepad fa-lg"></i> Giải trí <span class="arrow"></span>
        </li>
        <ul class="sub-menu collapse" id="game">
            <li><a href="#">Khu chơi game</a></li>
            <li><a href="#">Rạp chiếu phim</a></li>
            <li><a href="#">Karaoke</a></li>
        </ul>

        <li data-toggle="collapse" data-target="#strong" class="collapsed">
            <i class="fa fa-gift fa-lg"></i> Sức khỏe <span class="arrow"></span>
        </li>
        <ul class="sub-menu collapse" id="strong">
            <li><a href="#">Tập thể hình</a></li>
            <li><a href="#">Tập yoga</a></li>
            <li><a href="#">Phòng khám</a></li>
            <li><a href="#">Nha khoa</a></li>
        </ul>
        <li data-toggle="collapse" data-target="#shoping" class="collapsed">
            <i class="fa fa-shopping-bag fa-lg"></i> Mua sắm <span class="arrow"></span>
        </li>
        <ul class="sub-menu collapse" id="shoping">
            <li><a href="#">Trung tâm tương mại</a></li>
            <li><a href="#">Siêu thị</a></li>
            <li><a href="#">Cửa hàng</a></li>
            <li><a href="#">Chợ</a></li>
        </ul>
    </ul>
</div>