<div class="row other">
    <h2>CÓ THỂ BẠN QUAN TÂM</h2>
    {% for cor in correlate %}
    <div class="other-detail col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="/chitiet/{{cor.id_category}}/{{cor.id_location}}"><img class="width-img-100" src="/image_location/{{ cor.name_img }}" style="width: 100%"></a>
        <div class="description">
            <a href="#"><h4>{{ cor.name_location }}</h4></a>
            <p>{{ cor.address }} , {{ data.name_districts }}, {{ data.name }}</p>
        </div>
    </div>
    {% endfor %}
   
</div>