<div class="info-map">
    <h2>THÔNG TIN & BẢN ĐỒ</h2>
    <hr/>

    <div class="restaurant-map">
        <div id="map" style="height: 500px;"></div>

    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="restaurant-more-info">
                <div class="info-label">
                    Thời gian hoạt động
                </div>
                <span>{{ data.time_open }}</span>
            </div>

            <div class="restaurant-more-info">
                <div class="info-label">
                    Thời gian chuẩn bị
                </div>
                <span>Khoảng 5 - 10 phút</span>
            </div>

            <div class="restaurant-more-info">
                <div class="info-label">
                    Sức chứa
                </div>
                <span>50 người lớn</span>
            </div>

            <div class="restaurant-more-info">
                <div class="info-label">
                    Phục vụ món
                </div>
                <span>Thức uống ,  Trà sữa</span>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="restaurant-more-info">
                <div class="info-label">
                    Thích hợp
                </div>
                <span>Buổi sáng , Buổi trưa , Buổi xế , Buổi tối</span>
            </div>

            <div class="restaurant-more-info">
                <div class="info-label">
                    Nghỉ lễ
                </div>
                <span>Các ngày lễ trong năm</span>
            </div>

            <div class="restaurant-more-info">
                <div class="info-label">
                    Phong cách ẩm thực
                </div>
                <span>Châu Á, Đài Loan </span>
            </div>

            <div class="restaurant-more-info">
                <div class="info-label">
                    Website
                </div>
                <a><span>www.facebook.com/tocotoco60hotungmau</span></a>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="restaurant-more-info">
                <div class="info-label">
                    Giờ nhận khách cuối
                </div>
                <span>09:30 PM</span>
            </div>

            <div class="restaurant-more-info">
                <div class="info-label">
                    Thể loại
                </div>
                <span>Café/Dessert</span>
            </div>

            <div class="restaurant-more-info">
                <div class="info-label">
                    Phù hợp với
                </div>
                <span>Hẹn hò, Họp nhóm, Giao tận nơi, Ăn vặt, Mang về</span>
            </div>

        </div>
    </div>
</div>
