<div class="row animation-element slide-left">
    <h2 class="text-center"><a href="#">Giải Trí</a></h2>
    <hr class="gachchan">
    <div class="col-md-4  in-view">
        <div class="hovereffect thumbnail">
            <img src="image/karaoke1.jpg" class="img-responsive">
            <div class="overlay">
                <h3>Karaoke Top One KTV - Ngọc Khánh</h3>
                <a class="info" href="#">Chi Tiết</a>
            </div>

        </div>
        <p><a href="#"><strong>Karaoke Top One KTV - Ngọc Khánh</strong> </a></p>

        <p>Đánh giá :
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star-o sao" aria-hidden="true"></i>
        </p>

        <p>Địa chỉ :<em>168 Ngọc Khánh, P. Giảng Võ, Quận Ba ...</em></p>
    </div>

    <div class="col-md-4  in-view">
        <div class="hovereffect thumbnail">
            <img src="image/rapchieuphim1.jpg" class="img-responsive">
            <div class="overlay">
                <h3>Rạp Trung Tâm Chiếu Phim Quốc Gia</h3>
                <a class="info" href="#">Chi Tiết</a>
            </div>

        </div>
        <p><a href="#"><strong>Rạp Trung Tâm Chiếu Phim Quốc Gia</strong> </a></p>

        <p>Đánh giá :
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star-o sao" aria-hidden="true"></i>
        </p>

        <p>Địa chỉ :<em>87 Láng Hạ, Quận Ba Đình, Hà Nội</em></p>
    </div>

    <div class="col-md-4  in-view">
        <div class="hovereffect thumbnail">
            <img src="image/khuchoigame1.jpg" class="img-responsive">
            <div class="overlay">
                <h3>Royal Bowling - Royal City</h3>
                <a class="info" href="#">Chi Tiết</a>
            </div>

        </div>
        <p><a href="#"><strong>Royal Bowling - Royal City</strong> </a></p>

        <p>Đánh giá :
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star-o sao" aria-hidden="true"></i>
        </p>

        <p>Địa chỉ :<em>Tầng B1, Royal City, 72A Nguyễn Trãi...</em></p>
    </div>

</div>