<div class="row animation-element slide-left">
    <h2 class="text-center"><a href="#">Làm Đẹp</a></h2>
    <hr class="gachchan">
    <div class="col-md-4  in-view">
        <div class="hovereffect thumbnail">
            <img src="/images/cattocgoidau1.jpg" class="img-responsive">
            <div class="overlay">
                <h3>Tuấn Salon - Bà Triệu</h3>
                <a class="info" href="#">Chi Tiết</a>
            </div>

        </div>
        <p><a href="#"><strong>Tuấn Salon - Bà Triệu</strong> </a></p>

        <p>Đánh giá :
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star-o sao" aria-hidden="true"></i>
        </p>

        <p>Địa chỉ :<em> 53D Bà Triệu, Quận Hoàn Kiếm, Hà Nội</em></p>
    </div>

    <div class="col-md-4  in-view">
        <div class="hovereffect thumbnail">
            <img src="image/spa1.jpg" class="img-responsive">
            <div class="overlay">
                <h3>La Casa - Chill &amp; Spa</h3>
                <a class="info" href="#">Chi Tiết</a>
            </div>

        </div>
        <p><a href="#"><strong>La Casa - Chill &amp; Spa</strong> </a></p>

        <p>Đánh giá :
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star-o sao" aria-hidden="true"></i>
        </p>

        <p>Địa chỉ :<em> Tầng 2 &amp; 3, 10B Khúc Hạo, Quận Ba Đình...</em></p>
    </div>

    <div class="col-md-4  in-view">
        <div class="hovereffect thumbnail">
            <img src="image/thammivien1.jpg" class="img-responsive">
            <div class="overlay">
                <h3>Thiên Ha Beauty - Trần Duy Hưng</h3>
                <a class="info" href="#">Chi Tiết</a>
            </div>

        </div>
        <p><a href="#"><strong>Thiên Ha Beauty - Trần Duy Hưng</strong> </a></p>

        <p>Đánh giá :
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star-o sao" aria-hidden="true"></i>
        </p>

        <p>Địa chỉ :<em>176 Trần Duy Hưng, Quận Cầu Giấy, Hà Nội</em></p>
    </div>

</div>