<div class="row animation-element slide-left">
    <h2 class="text-center"><a href="#">Mua Sắm</a></h2>
    <hr class="gachchan">
    <div class="col-md-4  in-view">
        <div class="hovereffect thumbnail">
            <img src="image/tttmai1.jpg" class="img-responsive">
            <div class="overlay">
                <h3>Times City Shopping Center - Minh Khai</h3>
                <a class="info" href="#">Chi Tiết</a>
            </div>

        </div>
        <p><a href="#"><strong>Times City Shopping Center - Minh Khai</strong> </a></p>

        <p>Đánh giá :
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star-o sao" aria-hidden="true"></i>
        </p>

        <p>Địa chỉ :<em>458 Minh Khai, Quận Hai Bà Trưng, Hà Nội</em></p>
    </div>

    <div class="col-md-4  in-view">
        <div class="hovereffect thumbnail">
            <img src="image/tttmai1.jpg" class="img-responsive">
            <div class="overlay">
                <h3>Times City Shopping Center - Minh Khai</h3>
                <a class="info" href="#">Chi Tiết</a>
            </div>

        </div>
        <p><a href="#"><strong>Times City Shopping Center - Minh Khai</strong> </a></p>

        <p>Đánh giá :
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star-o sao" aria-hidden="true"></i>
        </p>

        <p>Địa chỉ :<em>458 Minh Khai, Quận Hai Bà Trưng, Hà Nội</em></p>
    </div>

    <div class="col-md-4  in-view">
        <div class="hovereffect thumbnail">
            <img src="image/tttmai1.jpg" class="img-responsive">
            <div class="overlay">
                <h3>Times City Shopping Center - Minh Khai</h3>
                <a class="info" href="#">Chi Tiết</a>
            </div>

        </div>
        <p><a href="#"><strong>Times City Shopping Center - Minh Khai</strong> </a></p>

        <p>Đánh giá :
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star-o sao" aria-hidden="true"></i>
        </p>

        <p>Địa chỉ :<em>458 Minh Khai, Quận Hai Bà Trưng, Hà Nội</em></p>
    </div>

</div>