<div class="row animation-element slide-left">
    <h2 class="text-center"><a href="danh-sach-quan-an.html">Ăn Uống</a></h2>
    <hr class="gachchan">
    <div class="col-md-4  in-view ">
        <div class="hovereffect thumbnail">
            <img src="/images/coffee/coffee1.jpg" class="img-responsive">
            <div class="overlay">
                <h3>Giảng Cafe - Cafe Trứng Sữa</h3>
                <a class="info" href="/chitiet">Chi Tiết</a>
            </div>

        </div>
        <p><a href="/chitiet"><strong>Giảng Cafe - Cafe Trứng Sữa</strong> </a></p>

        <p>Địa chỉ :<em> Ngõ 39 Nguyễn Hữu Huân, Quận Hoàn ...</em></p>
    </div>

    <div class="col-md-4  in-view">
        <div class="hovereffect thumbnail">
            <img src="/images/nhahang1.jpg" class="img-responsive">
            <div class="overlay">
                <h3>Sen Tây Hồ - Lạc Long Quân</h3>
                <a class="info" href="#">Chi Tiết</a>
            </div>

        </div>
        <p><a href="#"><strong>Sen Tây Hồ - Lạc Long Quân</strong> </a></p>
        <p>Địa chỉ :<em> 614 Lạc Long Quân, Quận Tây Hồ, Hà Nội</em></p>
    </div>

    <div class="col-md-4  in-view">
        <div class="hovereffect thumbnail">
            <img src="/images/quanan1.jpg" class="img-responsive">
            <div class="overlay">
                <h3>Quán Ăn Ngon - Phan Bội Châu</h3>
                <a class="info" href="#">Chi Tiết</a>
            </div>

        </div>
        <p><a href="#"><strong>Quán Ăn Ngon - Phan Bội Châu</strong> </a></p>
        <p>Địa chỉ :<em> 18 Phan Bội Châu, Quận Hoàn Kiếm, Hà Nội</em></p>
    </div>

</div>