<div class="row animation-element slide-left">
    <h2 class="text-center"><a href="#">Sức Khỏe</a></h2>
    <hr class="gachchan">
    <div class="col-md-4  in-view">
        <div class="hovereffect thumbnail">
            <img src="image/thehinh1.jpg" class="img-responsive">
            <div class="overlay">
                <h3>Hòa Bình Gym - Nguyễn Khuyến</h3>
                <a class="info" href="#">Chi Tiết</a>
            </div>

        </div>
        <p><a href="#"><strong>Hòa Bình Gym - Nguyễn Khuyến</strong> </a></p>

        <p>Đánh giá :
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star-o sao" aria-hidden="true"></i>
        </p>

        <p>Địa chỉ :<em>54 - 56 Nguyễn Khuyến, Quận Đống Đa, Hà Nội</em></p>
    </div>


    <div class="col-md-4  in-view">
        <div class="hovereffect thumbnail">
            <img src="image/thehinh1.jpg" class="img-responsive">
            <div class="overlay">
                <h3>Hòa Bình Gym - Nguyễn Khuyến</h3>
                <a class="info" href="#">Chi Tiết</a>
            </div>

        </div>
        <p><a href="#"><strong>Hòa Bình Gym - Nguyễn Khuyến</strong> </a></p>

        <p>Đánh giá :
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star-o sao" aria-hidden="true"></i>
        </p>

        <p>Địa chỉ :<em>54 - 56 Nguyễn Khuyến, Quận Đống Đa, Hà Nội</em></p>
    </div>

    <div class="col-md-4  in-view">
        <div class="hovereffect thumbnail">
            <img src="image/thehinh1.jpg" class="img-responsive">
            <div class="overlay">
                <h3>Hòa Bình Gym - Nguyễn Khuyến</h3>
                <a class="info" href="#">Chi Tiết</a>
            </div>

        </div>
        <p><a href="#"><strong>Hòa Bình Gym - Nguyễn Khuyến</strong> </a></p>

        <p>Đánh giá :
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star sao" aria-hidden="true"></i>
            <i class="fa fa-star-o sao" aria-hidden="true"></i>
        </p>

        <p>Địa chỉ :<em>54 - 56 Nguyễn Khuyến, Quận Đống Đa, Hà Nội</em></p>
    </div>

</div>